html {
    overflow-y: overlay;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    min-height: -moz-available;
    min-height: stretch;
    min-height: fill-available;
    min-height: 100dvh;
}

body {
    --background-color: #202021;
    --background2: #43434b;
    --surface: #1e1e1f;
    --surface2: #29292b;
    --color: #e5e5e5;
    --color-semi-trans: rgba(229, 229, 229, 0.4);
    --warning: #e5c890;
    --accent: #eebebe;
    --accent-semi-trans: rgba(238, 190, 190, 0.2);
    --accent-rgb: 238, 190, 190;

    --warning: #df8e1d;
    --accent: #dd7878;
    --accent-semi-trans: rgba(238, 190, 190, 0.6);

    background-color: var(--background-color);
    color: var(--color);

    width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    min-height: -moz-available;
    min-height: stretch;
    min-height: fill-available;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

html {
    font-family: Inter, system-ui, sans-serif;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter.var-subset.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
}

a {
    color: rgb(var(--blue));
    text-decoration: none;
}

a:hover {
    color: rgb(var(--sky));
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid var(--background2);
    border-radius: 5px;
}

.upload-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}