---
import Layout from "layouts/Layout.astro";
import { getCachedData } from "utils/kv-cache";
import GalleryComponent from "components/Gallery.svelte";

export const prerender = false;

const title = "Image Gallery";
const description = "View your uploaded images";

export async function getServerSideProps({ locals }) {
    const kv = locals.runtime.env.FILE_METADATA_CACHE;
    const galleryList = await getCachedData("gallery_file_list", kv) || [];

    return {
        props: {
            galleryList
        }
    };
}

const { galleryList } = Astro.props;
---

<Layout title={title} description={description}>
    <h1>Your Uploaded Images</h1>
    <GalleryComponent initialFiles={galleryList} client:load />
</Layout>