---
import { cache } from "scripts/cache";

export const prerender = true;

export function GET({ request }) {
    const response = cache(Astro.response);
    return response;
}

import Layout from "../layouts/Layout.astro";
import FileUpload from "../components/FileUpload.astro";

const title = "Image Uploader";
const description = "Upload images/videos up to 100MB";
---

<Layout title={title} description={description}>
    <h1>Upload a File</h1>
    <p>File size limit: 100MB</p>
    <FileUpload />
</Layout>