---
interface Props {
    id: string;
}

const { id } = Astro.props;
---

<div id={id} class="error-message"></div>

<style>
    .error-message {
        color: red;
        font-size: 14px;
        margin-top: 5px;
        text-align: center;
    }
</style>