---
import { REPO_URL } from "scripts/constants";
import Link from "./Link.svelte";
---

<footer>
    <p>
        Image Uploader<span>&nbsp;•&nbsp;</span>
        <Link href="/">Home</Link><span>&nbsp;•&nbsp;</span>
        <Link href="/gallery">Gallery</Link><span>&nbsp;•&nbsp;</span>
        <Link href={REPO_URL}>Source Code</Link>
    </p>
</footer>

<style>
    footer {
        margin-top: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    p {
        font-weight: 300;
        filter: brightness(80%);
        font-size: 90%;
    }
</style>