<div id="progressBar" style="width: 100%; height: 10px; background-color: #ccc; margin-top: 10px; display: none;">
    <div id="progressBarFill" style="height: 100%; background-color: #4CAF50; width: 0%;"></div>
</div>